*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-image: url("C:\Users\aluno\Pictures\o-que-existe-no-ponto-mais-profundo-do-oceano-atlantico-1730327887727_1280.webp");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-color: rgba(255, 253, 253, 0.665)
    
}
.navbar
{
    background-color:black
    color#ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3)
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: aqua;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s;
}

.navbar ul li a:hover{
    background-color: white;
    color: #2c3e50;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-2px);
    
}

.slider {

    margin: 20px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);


}
.slider-content
{
    width: 400%;
    height: 100%;
    display: flex;

}
.slider-content input
{
    display: none;


}
.slider-box
{
    width: 25%;
    transition: 0.6s;
}
.slide-box img
{
 width: 800px;
 height: 400px;
 object-fit: cover;
}

#radio1:checked ~ .first { margin-left: 0;}

#radio2:checked ~ .first { margin-left: -25%;}

#radio3:checked ~ .first { margin-left: -50%;}

#radio4:checked ~ .first { margin-left: -75%;}

.nav-manual
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn
{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;


}
.manual-btn:hover{
    background-color: rgb(0, 0, 0);
}

.rodape-principal{
    background-color: #000000;
    color:white;
    padding :   40px 0 20px 0;
    margin-top : 50px; /afartar da galeria/
}


.container-rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* FAZ OS ITENS PULAREM LINHAS EM TELAS PEQUENAS */
    max-width: 1200px;
    margin: 0 auto; /* centralizar o conteiner rotape */
}

.links-socias a{
    color: white;
    text-decoration: none;
    margin: 0 15px; /* ESPAÇAMENTO ENTRE OS LINKS */
    font-size: bold;
    transition: 0.3s;
}


.links-socias a:hover{
    color: #3498db;
    text-shadow: 0 0 5px(255,255,255, 0,5);
}

.rotape-inferior{
    text-align: center;
    border-top: 1px solid rgba (255,255,255,0.2);
    margin-top: 30px;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.6;

}